<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="../static/css/style.css">
        <title>Formularauswertung</title>
    </head>
    <body>
        <div id="rahmen">

            <h1>Willkommen <%=benutzername%></h1>
            <h2> Wählen sie in diesem Kreise, für einen Chat der kompetenten Art und Weise. </h2>

            <div>
                <form action="/philosophers" method="POST">
                    <button id="philosophers" type="submit"></button>
                </form>
            </div>

            <div>
                <form action="/musicians" method="POST">
                    <button id="musicians" type="submit"></button>
                </form>
            </div>

            <div>
                <form action="/prophets" method="POST">
                    <button id="prophets" type="submit"></button>
                </form>
            </div>

            <div>
                <form action="/movie_charakters" method="POST">
                    <button id="movie_charakters" type="submit"></button>
                </form>
            </div>
        </div>

       <a href="/login"><button id="back">zrück zum login</button></a>
    </body>
</html>