<!DOCTYPE html>
<html>
    <head>
        <title>Formularauswertung</title>
    </head>
    <body>
       <p>Anmeldung erfolgreich</p>
       <p>Benutzername: <%=benutzername%></p>
       <a href="/login"><button>Neuer Versuch</button></a>
    </body>
</html>