<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="../static/css/style.css">
        <title>Chatroom der Philosophen</title>
    </head>
    <body>
        <div id="rahmen">
            <h1>Herzlich willkommen Fragender</h1>
            <h2>Ein Gespräch mit weiser Kunde folgt nun in gepflegter Runde</h2>
            <p> Immanuel Kant,Kong Fuzi, Platon,Aristoteles, Nietsche sind beigetreten.</p>


            <p>
            <form action="/Frage_philosophen" method="POST">
                <label for="Frage">Wählt weise Fragender :</label>
                <select name="Frage">
                    <option >Was ist der Sinn des Lebens ?</option>
                    <option  >Warum ist Bildung wichtig ?</option>
                    <option  >Was denkt ihr über den Tod ?</option>
                    <option  >Wie sieht wahre Liebe aus ?</option>
                    <option  >Was motiviert mich zum Arbeiten ?</option>
                    <option >Die Zukunft ist finster wie bekomme ich Hoffnung ?</option>
                </select>
                <button type="submit">senden</button>
            </form>

            <form action="/Frage_philosophen" method="POST">

                <input type="text" name="Frage" size="40">
                <button type="submit">abschicken</button>
            </form>
        </div>

        </p>
        
    
        



    </body>
</html>