<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
    <title>Fehler</title>
</head>

<body>
    <div id="rahmen">
        <%if(passwort==null||email==null){%>
            <h2>- leeres Email oder Passwort Feld</h2><%}%>
        <br>
        <%if(!(email.includes('@'))){%>
            <h2>- invalide Email</h2><%}%>
        <br>

        <% if((passwort!=passwort_repeat)){ %>
            <h2>- Passwort Bestätigung fehlgeschlagen oder Email/Benutzername bereits vergeben</h2>
        <% } else{ %> 
            <h2>- Email oder Benutzer bereits vergeben</h2> 
        
        <% } %>
        <br>

        <a href="/registrieren"><button id="erneut">Erneut versuchen</button></a>
    </div>


</body>

</html>