<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="../static/css/style.css">
        <title>login</title>
    </head>
    <body>
        <form action="/pruefung" method="POST">
            <h1>Anmeldung</h1>
            <div id="rahmen">
            <div id="user-field">
                <p>
                    <label id="label-user">Benutzername:</label>
                    <input type="text" name="benutzername" size="40">
                </p>
            </div>
            
            <div id="passwort-field">
                <p>
                    <label id="label-pw">Passwort:</label>
                    <input type="password" name="passwort" size="40">
                </p> 
            </div>
            
            <br>
            </div>
            <button type="submit">anmelden</button>
            <button id="register"> <a href="/registrieren" style="text-decoration: none; color: #707070;">registrieren</a></button>
        </form>
    </body>
</html>