<!DOCTYPE html>
<html>
    <head>
        <title>login</title>
    </head>
    <body>
        <form action="/pruefung" method="POST">
        <fieldset>
            <legend>Anmeldung</legend>
            <p>
                <label>Benutzername:<input type="text" name="benutzername" size="40"></label>
            </p>
            <p>
                <label>Passwort:<input type="password" name="passwort" size="40"></label>
            </p>
            </fieldset>  
            <br>
            <button type="submit">anmelden</button>
            <button> <a href="/registrieren">Registrieren</a></button>
        </form>
    </body>
</html>