<!DOCTYPE html>
<html>
    <head>
        <title>Formularauswertung</title>
    </head>
    <body>
       <p>Registrierung erfolgreich</p>
       <p>Email: <%=email%></p>
       <p>User: <%=benutzername%></p>
       <a href="/registrieren"><button>Neuer Benutzer</button></a>
    
    </body>
</html>