<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="../static/css/style.css">
        <title>Formularauswertung</title>
    </head>
    <body>
        <div id="rahmen">
            <h2>Registrierung erfolgreich</h2>
            <h2>Email: <%=email%></h2>
            <h2>User: <%=benutzername%></h2>
            <a href="/login"><button id="hover_grau">zum login</button></a>
        </div>            
    </body>
</html>