<head>
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
    <title>Regestrieren</title>
</head>

<body>
    <form action="/reg" method="POST">
            <h1>Registrieren</h1>
            <div id="rahmen">

                <div id="user-field">
                    <p>
                        <label id="label-user">Email:</label>
                        <input type="text" name="email" size="40">
                    </p>
                </div>

                <div id="user-field">
                    <p>
                        <label id="label-user">Benutzername:</label>
                        <input type="text" name="benutzername" size="40">
                    </p>
                </div>

                <div id="passwort-field">
                    <p>
                        <label id="label-pw">Passwort:</label>
                        <input type="password" name="passwort" size="40">
                    </p>
                </div>

                <div id="passwort-field">
                    <p>
                        <label id="label-pw">Wiederholen:</label>
                        <input type="password" name="passwort_repeat" size="40">
                    </p>
                </div>
            </div>
        <button type="submit">registrieren</button>
        <a id="link_to_button" href="/login">zum login</a>

        

    </form>
    




</body>

</html>