<head>
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
    <title>Regestrieren</title>
</head>

<body>
    <form action="/reg" method="POST">
        <fieldset>
            <legend>Regestrieren</legend>
            <p>
                <label>Email:<input type="text" name="email" size="40"></label>
            </p>
            <p>
                <label>Benutzername:<input type="text" name="benutzername" size="40"></label>
            </p>

            <p>
                <label>Passwort:<input type="password" name="passwort" size="40"></label>
            </p>
            <p>
                <label>Wiederholen:<input type="password" name="passwort_repeat" size="40"></label>
            </p>
        </fieldset>
        <button type="submit">Prüfen</button>
        <button> <a href="/benutzerliste"></a>benutzer anzeigen</button>
        <button> <a href="/login">login</a></button>

        

    </form>
    




</body>

</html>