/*Der Weise mit Style*/

/*Allgemein - corporate design*/
body {
  background-color: #707070;
  font-family: Calibri, "Baskerville Old Face", "Hoefler Text", Garamond, "Times New Roman", serif;
}

h1 {
  text-align: center;
  color: #752929;
  font-size: 50px;
}

h2 {
  text-align: center;
  color: #752929;
  font-size: 40px;
}

h3 {
  color: #752929;
}

h4 {
  text-align: center;
}

#rahmen {
    width: 75%;
    padding: 50px;
    box-sizing: border-box;
    border-radius: 3px 15px 5px 30px;
    background: #B9A8A8;
    margin: 2% 12.5%;
}


/*LOGIN, REGISTRIERUNG, FEHLERMELDUNGEN*/
/*Input - Eingabefelder der Login und Registrierungsseite*/
#label-pw, #label-user {
    color: #707070;
    clear: both;
    float: left;
    margin: 10px 0px 10px 20px;
    font-size: 33px;
}

#passwort-field, #user-field {
    background-color: #752929;
    border-radius: 15px 15px 15px 15px;
    width: 90%;
    margin: 5%;
}

input[type=text], input[type=password] {
    font-family: Calibri, "Baskerville Old Face", "Hoefler Text", Garamond, "Times New Roman", serif;
    width: 80%;
    padding: 20px 20px;
    margin: 8px 20%;
    border-radius: 0px 15px 15px 0px;
    box-sizing: border-box;
    display: block;
    
  }

  /*Button - Gestaltung der Buttons*/
  #positioning {
    width: 75%;
    margin: 0 12.5%;
  }

  button {
    font-family: Calibri, "Baskerville Old Face", "Hoefler Text", Garamond, "Times New Roman", serif;
    background: #752929;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 20%;
    border-radius: 15px 15px 15px 15px;
  }

  button:hover {
    opacity: 0.8;
    background: #B9A8A8;
    color: #752929;
  }

  button[type=submit] {
    color: #707070;
    font-size: 33px;
    margin: 20px;
    margin: 0 0 0 80%;
    padding: 20px 20px;;
  }

  button[type=submit]:hover {
    color: #752929;
  }

  /*a - Gestaltung des Links zu einem Button*/
  a {
    font-family: Calibri, "Baskerville Old Face", "Hoefler Text", Garamond, "Times New Roman", serif;
    text-decoration: none;
    color: #707070;
  }
  
  a:hover {
    color: #752929;
  }

  #link_to_button {
    font-family: Calibri, "Baskerville Old Face", "Hoefler Text", Garamond, "Times New Roman", serif;
    font-size: 33px;
    background: #752929;
    color: #707070;
    padding: 20px 20px;
    border: none;
    cursor: pointer;
    width: 20%;
    border-radius: 15px 15px 15px 15px;
  }

  #link_to_button:hover {
    opacity: 0.8;
    background: #B9A8A8;
    color: #752929;
  }
  
  /*individuelle Bearbeitungen einzelner Buttons (Positionierung, Größe, beim hovern, Schriftgröße und Farbe)*/
  #register {
    font-size: 33px;
    padding: 20px 20px;
    color: #707070;
  }

  #back {
    font-size: 33px;
    padding: 20px 20px;
    margin: 0 50px 0 67.5%;
    color: #707070;
  }

  #back:hover {
    background: #B9A8A8;
    color: #752929;
  }

  #check {
    margin: 0 0 0 75%;
  }

  #check:hover {
    opacity: 0.8;
    background: #707070;
  }

  #hover_grau:hover {
    opacity: 0.8;
    background: #707070;
    margin: 0 0 0 40%;
  }

  #erneut {
    font-size: 33px;
    padding: 20px 50px;
    margin: 0 0 0 40%;
    color: #B9A8A8;
  }

  #erneut:hover {
    opacity: 0.8;
    background: #707070;
    color: #752929;
  }


  /*KATEGORIESEITE*/
  /*Positionierung des letzten Kategoriefeldes*/
  #kategorien {
    text-align: center;
  }


  /*Auswahlbuttons der Kategorien (Bilder)*/
  #philosophers {
    background-image: url(/static/philosophers_298x298.jpg);
    background-repeat: no-repeat;
    color: #752929;
    padding: 130px;
    float: left;
    margin: 40px 0 0 50px;
    border-radius: 3px 15px 15px 15px;
    position: relative;
  }

  #philosophers:hover {
    background-image: url(/static/Philosophen_hover_298x298.png);
    
  }

  #musicians {
    background-image: url(/static/musiker_298x298.jpg);
    background-repeat: no-repeat;
    color: #752929;
    padding: 130px;
    float: left;
    margin: 40px 0 0 50px;
  }

  #musicians:hover {
    background-image: url(/static/musiker_hover_298x298.png);
    
  }

  #prophets {
    background-image: url(/static/propheten_298x298.jpg);
    background-repeat: no-repeat;
    color: #752929;
    padding: 130px;
    float: left;
    margin: 40px 0 0 50px;
  }

  #prophets:hover {
    background-image: url(/static/Propheten_hover_298x298.png);
    
  }

  #movie_charakters {
    background-image: url(/static/movie_charakters_298.png);
    background-repeat: no-repeat;
    color: #752929;
    padding: 130px;
    margin: 40px 0 0 18px;;
    border-radius: 15px 15px 5px 15px;
  }

  #movie_charakters:hover {
    background-image: url(/static/movie_charakters_hover_298x298.png);
    
  }


  /*CHAT*/
  #chatfenster {
    width: 75%;
    height: 70%;
    padding: 20px 0 50px 0;
    box-sizing: border-box;
    border-radius: 50px 50px 3px 3px;
    background: aliceblue;
    margin: 2% 0 0 12.5%;
  }

  /*Positionierung der angezeigten Frage(links) und Antwort(rechts)*/
  #chat_frage {
    width: 50%;
    padding: 0px 20px 20px 20px;
    margin: 20px 0 20px 0;
    background: url(/static/hintergrund_chat.png) repeat;
    border-radius: 3px 50px 50px 3px;
  }

  #chat_antwort {
    background: url(/static/hintergrund_chat.png) repeat;
    padding: 0px 20px 20px 20px;
    margin: 20px 0 20px 50%;
    border-radius: 50px 3px 3px 50px;
  }

  #rechtsbuendig {
    text-align: right;
  }
  
  /*Select - Auswahl der Frage im Chat*/
  select {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    border: none;

  
    background: url(/static/hintergrund_chat.png) repeat;
    color: #fff;
    font-family: Calibri, "Baskerville Old Face", "Hoefler Text", Garamond, "Times New Roman", serif;
    font-size: 16px;
    box-shadow: 0px 3px 0px 0px rgba(0,0,0,0.3);

    outline: none;

    cursor: pointer;
  }

  select option {
    color: #666;
  }

  select:active select:hover {
    outline: none;
  }

  #select {
    width: 50%;
    padding: 50px;
    box-sizing: border-box;
    border-radius: 3px 0px 0px 50px;
    margin: 0 0 0 12.5%;
    float: left;

    position: relative;
  }

  /*IE - Bug fixes*/
  select::-ms-expand {
    display: none;
  }
  select:focus::-ms-value {
    background-color: transparent;
  }

  /*Button - Abschicken der Frage*/
  #btn_frage {
    font-family: Calibri, "Baskerville Old Face", "Hoefler Text", Garamond, "Times New Roman", serif;
    font-size: 16px;
    border-radius: 0px 0px 50px 0px;
    width: 25%;
    background: url(/static/hintergrund_chat.png) repeat;
    padding: 50px;
    margin: 0;
    color: #fff;
    box-shadow: 0px 3px 0px 0px rgba(0,0,0,0.3);
    outline: none;
  }

  #btn_frage:hover {
    background: #752929;
  }
  