body {
    background-color: #707070;
    font-family: Baskerville, "Baskerville Old Face", "Hoefler Text", Garamond, "Times New Roman", serif;
}

h1 {
    text-align: center;
    color: #752929;
    font-size: 50px;
}

h2 {
    text-align: center;
    color: #752929;
    font-size: 40px;
}

#rahmen {
    width: 75%;
    padding: 50px;
    box-sizing: border-box;
    border-radius: 3px 15px 5px 30px;
    background: #B9A8A8;
    margin: 2% 12.5%;
}

#label-pw, #label-user {
    color: #707070;
    clear: both;
    float: left;
    margin: 10px 0px 10px 20px;
    font-size: 33px;
}

#passwort-field, #user-field {
    background-color: #752929;
    border-radius: 15px 15px 15px 15px;
    width: 90%;
    margin: 5%;
}

input[type=text], input[type=password] {
    font-family: Baskerville, "Baskerville Old Face", "Hoefler Text", Garamond, "Times New Roman", serif;
    background-color: #8D6666;
    width: 80%;
    padding: 20px 20px;
    margin: 8px 20%;
    border-radius: 0px 15px 15px 0px;
    box-sizing: border-box;
    display: block;
    
  }

  button {
    font-family: Baskerville, "Baskerville Old Face", "Hoefler Text", Garamond, "Times New Roman", serif;
    background: #752929;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 20%;
    border-radius: 15px 15px 15px 15px;
  }

  button:hover {
    opacity: 0.8;
    background: #B9A8A8;
  }

  #check:hover {
    opacity: 0.8;
    background: #707070;
  }

  button[type=submit] {
    color: #707070;
    font-size: 33px;
    margin: 20px;
    margin: 0 50px 0 45%;
    padding: 20px 20px;;
  }
  
  #register {
    font-size: 33px;
    padding: 20px 20px;
  }

  #check {
    margin: 0 0 0 75%;
  }

  #erneut {
    font-size: 33px;
    padding: 20px 50px;
    margin: 0 0 0 40%;
  }

  #hover_grau:hover {
    opacity: 0.8;
    background: #707070;
    margin: 0 0 0 40%;
  }

  #philosophers {
    background-image: url(/static/philosophers.jpg);
    padding: 130px;
    float: left;
    margin: 0 0 0 0;
  }

  #musicians {
    background-image: url(/static/musiker.jpg);
    padding: 130px;
    float: left;
    margin: 0 0 0 5px;
  }

  #prophets {
    background-image: url(/static/propheten.jpg);
    padding: 130px;
    float: left;
    margin: 0 0 0 5px;
  }

  #movie_charakters {
    background-image: url(/static/film_charakters.png);
    background-repeat: no-repeat;
    padding: 130px 70px;
    float: left;
    margin: 0 0 0 5px;;
  }
